<div class="message-list">
  <% comments.forEach(function (comment) { %>
  <blockquote class="blockquote blockquote-reverse">
    <p class="mb-0">
      <%- comment.content %></p>
    <footer class="blockquote-footer">
      <%= comment.author.name %>
      <cite title="Source Title">
        <%= comment.created_at %></cite>
    </footer>
    <% if (user && comment.author._id && user._id.toString() === comment.author._id.toString()) { %>
    <div class="actions">
      <a class="reply" href="/posts/<%= post._id %>
        /comment/
        <%= comment._id %>/remove">删除</a>
    </div>
    <% } %></blockquote>
  <% }) %>
</div>

<form method="post" action="/posts/<%= post._id %>/comment">
  <div class="form-group">
    <label for="messageTextArea">留言版：</label>
    <textarea class="form-control" name="content" id="messageTextArea" rows="3"></textarea>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success">留言</button>
  </div>
</form>