<%- include('header') %>

<div class="detail-content">
	<h3><%= post.title %></h3>
	<div class="post-info">
		<%- post.content %>
	</div>
</div>
<%- include('components/comments') %>

<%- include('footer') %>